# Flutter/Dart
.dart_tool/
.packages
build/
*.g.dart
*.freezed.dart

# Pub
pubspec.lock

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/.symlinks/
macos/Pods/

# Web
web/

# IDE
.idea/
.vscode/
*.iml

# Misc
*.log
